p{
color: black;
font-size: 20px;
}
h1{
    color: blue;
    font-size: 20px;
}
h4{
    color: red;
    font-size: 25px;
}
.test1{
    width: 60px;
    background-color: red;
    position: relative;
 top: 10px;
}
.test2{
    width: 60px;
    background-color: blue;
}
.test3{
    width: 1200px;
    height: 1230px;
    border: 5px #000 solid;
}
@media screen and (max-width:600px) { 
    background-origin: 
}
h2{
    color: blue;
    size: 20px;
}